
  

  button[disabled] {
    cursor: not-allowed !important;
    opacity: 0.6
  }
  .scrollbar-hide {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-y: scroll; 
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }  

