<!-- card.component.html -->

  <div class="mb-10 px-8">
    <p class="text-3xl font-bold shadow-sm bg-clip-text text-transparent bg-gradient-to-r from-red-200 via-purple-300 to-pink-200">Time Remaining : <span class="text-yellow-300 font-mono">{{ time }}s</span></p>
  </div>
  <div class="flex flex-wrap justify-center items-center py-10 gap-5 mb-8 overflow-y-scroll scrollbar-hide" style="max-height: 80vh;">
    <div *ngFor="let card of shuffledSequence" [ngClass]="time !== 0 ? '' : 'active:scale-90'">
      <button
      [@illuminate]="cardStates[card.order]"
      [style.backgroundColor]="card.colorHex"
      (click)="onCardClick(card)"
      [disabled]="time !== 0"
      class="w-28 h-28 rounded-full border-2 border-gray-800 transition-all duration-300"
  >
  {{ card.order }}
</button>

</div>
</div>


